*.fs.js
*proj.user
*tailwind-generated.css
.ionide
.fable
.cache
.parcel-cache
.dist
.dist_prod
fablejs
.vs
bin
obj
node_modules
dist
devClient
src/Client/www/.DS_Store
publish/
/src/Fun.OData.Query.Benchmarks/BenchmarkDotNet.Artifacts/results
/src/Fun.OData.Query.Benchmarks/BenchmarkDotNet.Artifacts
*.db
*.db-*
!demo/ODataDemo.Db
